.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  font-family: sans-serif;
}

.btns {
  margin-top: 10vh;
  display: flex;
  align-items: flex-start;
}

#backBtn {
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: rgb(187, 72, 72);
  padding: 10px;
  border: solid 1px maroon;
  border-radius: 5px;
  height: 8vh;
  width: 40vw;
  margin-right: 5vw;
}

#backBtn:hover {
  filter: brightness(115%);
}

#nextBtn {
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: rgb(64, 182, 105);
  padding: 10px;
  border: solid 1px darkgreen;
  border-radius: 5px;
  height: 8vh;
  width: 40vw;
}

#nextBtn:hover {
  filter: brightness(115%);
}
